.header {
    height: max-content;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.leftPart {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.AddressContainer {
    display: flex;

    justify-content: center;
    align-items: center;
}

.address {
    font-size: 16px;
    font-weight: normal;
    color: black;
}